.about_us {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.about_us .about_image {
    display: flex;
}
.about_us .about_image .about_image_1 {
    padding-right: 22px;
}
.about_us .about_image span {
    text-align: center;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background: border-box;
    border: 1px dashed rgba(118, 167, 19, 0.5);
    color: #76A713;
    font-family: Oswald-Medium, sans-serif;
    font-weight: 600;
    margin-top: 32px;
}
.about_us .about_info ul {
    margin: 0;
    padding: 0 0 0 24px;
    list-style-type: none;
}
.about_us .about_info_name  {
    font-size: 60px;
    font-family: Oswald-Medium, sans-serif;
}
.about_us .about_info_name_2  {
    font-size: 60px;
    font-family: Oswald-Medium, sans-serif;
}
.about_us .about_info_description {
    font-size: 16px;
    font-family: Gilroy-Medium, sans-serif;
    color: #888888;
    padding-top: 46px;
    padding-bottom: 35px;
}
.about_us .about_info_description_2 {
    font-size: 16px;
    font-family: Gilroy-Medium, sans-serif;
    color: #888888;
    padding-left: 19px;
    border-left: 1px solid #76A713;
}
.about_us .about_info_author {
    font-size: 18px;
    font-family: Oswald-Medium, sans-serif;
    font-weight: bold;
    padding-top: 10px;
}
.about_us .about_info_author_1 {
    font-size: 13px;
    font-family: Gilroy-Medium,sans-serif;
    color: #AAAAAA;
    padding-top: 3px;
}
