.fun_page {
    background-image: url("/img/fon_fon.png");
    background-color: #76A713;
    height: 291px;
    max-width: 1170px;
    margin: 0 auto;
}
.fun_page ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 291px;
    color: #FFFFFF;
    font-family: Gilroy-Medium, sans-serif;
    font-size: 24px;
    text-align: center;
}
.fun_page ul li span {
    font-size: 60px;
    font-family: Oswald-Medium, sans-serif;
    font-weight: 600;
}
