.latest_blog {
    max-width: 1170px;
    margin: 0 auto;
}
.latest_blog ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.latest_blog_1 {
    font-size: 60px;
    font-weight: 600;
    font-family: Oswald-Medium, sans-serif;
    text-align: center;
    margin-top: 70px;
}
.latest_blog_2 {
    display: flex;
    margin-top: 42px;
    margin-bottom: 100px;
}
.latest_blog_2 .latest_box {
    margin-right: 30px;
    border: 1px solid #DDDDDD;
}
.latest_blog_2 .latest_box .latest_box_name {
    font-size: 30px;
    font-weight: 500;
    font-family: Oswald-Medium, sans-serif;
    margin: 0 18px 18px 18px;
}
.latest_blog_2 .latest_box .latest_box_name span {
    color: #76A713;
}
.latest_blog_2 .latest_box .latest_box_order {
    font-size: 11px;
    font-family: Gilroy-Medium, sans-serif;
    font-weight: bold;
    margin: 30px 18px 8px 18px;
}
.latest_blog_2 .latest_box .latest_box_date {
    border-top: 1px solid #DDDDDD;
    padding-top: 19px;
    font-size: 11px;
    font-weight: bold;
    font-family: Gilroy-Medium, sans-serif;
    color: #000000;
    margin: 0 18px 17px 18px;
}
.latest_blog_2 .latest_box .latest_box_date span {
    color: #76A713;
    font-size: 13px;
    font-weight: bold;
    font-family: Gilroy-Medium, sans-serif;
}
