@import "header.css";
@import "main.css";
@import "shipping.css";
@import "about_us.css";
@import "categories.css";
@import "popular_products.css";
@import "featured.css";
@import "featured_products.css";
@import "fun_page.css";
@import "tesimonials.css";
@import "latest_blog.css";
@import "subscribe.css";
@import "footer.css";



@font-face {
    font-family: 'Gilroy-Medium';
    src: url('/fonts/Gilroy-Medium.eot');
    src: local('☺'), url('/fonts/Gilroy-Medium.woff') format('woff'), url('/fonts/Gilroy-Medium.ttf') format('truetype'), url('/fonts/Gilroy-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Regular';
    src: url('/fonts/Gilroy-Regular.eot');
    src: local('☺'), url('/fonts/Gilroy-Regular.woff') format('woff'), url('/fonts/Gilroy-Regular.ttf') format('truetype'), url('/fonts/Gilroy-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('/fonts/Gilroy-SemiBold.eot');
    src: local('☺'), url('/fonts/Gilroy-SemiBold.woff') format('woff'), url('/fonts/Gilroy-SemiBold.ttf') format('truetype'), url('/fonts/Gilroy-SemiBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald-Bold';
    src: url('/fonts/Oswald-Bold.eot');
    src: local('☺'), url('/fonts/Oswald-Bold.woff') format('woff'), url('/fonts/Oswald-Bold.ttf') format('truetype'), url('/fonts/Oswald-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald-Medium';
    src: url('/fonts/Oswald-Medium.eot');
    src: local('☺'), url('/fonts/Oswald-Medium.woff') format('woff'), url('/fonts/Oswald-Medium.ttf') format('truetype'), url('/fonts/Oswald-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald-Regular';
    src: url('/fonts/Oswald-Regular.eot');
    src: local('☺'), url('/fonts/Oswald-Regular.woff') format('woff'), url('/fonts/Oswald-Regular.ttf') format('truetype'), url('/fonts/Oswald-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 15px 0 0 0;

}